<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Primeira página HTML com Thymeleaf</title>
    </head>
    <body>
        <p th:text="${mensagemDaController}"></p>

        <form method="post" th:action="@{/create}" th:object="${pessoa}">
            Nome: <input type="text" name="nome" />
            <br/>
            E-mail: <input type="text" name="email" />
            <br/>
            Usuário: <input type="text" name="usuario" />
            <button>Cadastrar candidato</button>
        </form>
    </body>
</html>